.homeVideos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;

  > .contents {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    > a {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1150px) {
  .homeVideos {
    padding: 10px 0;

    .contents {
      justify-content: center;
    }
  }
}
